@use "../../assets/scss/" as *;

.services {
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    padding: 40px 90px;
}
.services h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: $black;
}
/*
SECTION 1
*/

.services .services-section-1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.services .services-section-1 .services-bus {
    flex: 20%;
    width: 20%;
    margin-right: 50px;
}
.services .services-section-1 .services-content{
    color: $black;
    text-align: left;
    flex: 30%;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 800;
    font-size: 20px;
    line-height: 39px;
}
.services .services-section-1 .services-content p {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    // padding-right: 100px;
    padding-top: 20px;
}
.services .services-section-1 .services-content p span {
    color: $main-color;
}

/*
SECTION 2
*/

.services .services-section-2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px 200px;
}

.services .services-section-2 .service-1 {
    width: 222px;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    background: $white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.21);
    border-radius: 8px;
    height: 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services .services-section-2 .service-2 {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: $white;
    background: $main-color;
    border-radius: 8px;
    width: 327px;
    height: 317px;    
}
.services .services-section-2 .service-2 h2 {
    margin: 10px;
}
.services .services-section-2 .service-2 p{
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    color: $white;
    margin: 20px 10px;
 }
.services .services-section-2 .service-3 {
    width: 222px;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    background: $white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.21);
    border-radius: 8px;
    height: 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding-top: 5%;
}
.services .services-section-2 img {
    margin: 20px 0px;
}
.services .services-section-2 .service-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services .services-section-2 .service-2 p {
    padding: 0px 40px;
}
.services .services-section-2 a {
    color: $second-color;
    text-decoration: none;
}

// SCREENS

@media (max-width: 1320px) {
    .services .services-section-1 .services-content {
        font-size: 14px;
    }
    .services .services-section-1 .services-content h1{
        font-size: 24px;
    }

}
@media (max-width: 1200px) {
    .services .services-section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0px;
    }
    .services .services-section-2 .service-2 {
        margin: 100px 0px;
    }
}
@media (max-width: 810px) {

    .services {
        padding: 50px;
    }

    .services h1{
        font-size: 24px;
    }

    .services .services-section-1 .services-content, .services .services-section-1 .services-bus {
      flex: 100%;
    }

    .services .services-section-1 .services-bus {
        flex: 100%;
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .services-content{
        flex: 100%;
    }
    .services-content p {
        padding-right: 0;
        margin: 0;
    }
    .services .services-section-2{
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .services .services-section-2 .service-1 {
        width: 111px;
        font-size: 12px;
        height: 120.5px;
    }

    .services .services-section-2 .service-2 {
        font-size: 14px;
        line-height: 11px;
        width: 163.5px;
        height: 158.5px;    
    }
    .services .services-section-2 .service-2 h2 {
        margin: 5px;
        font-size: 13px;
    }
    .services .services-section-2 .service-2 p{
        font-size: 14px;
        margin: 10px 5px;
    }
    .services .services-section-2 .service-3 {
        width: 111px;
        font-size: 12px;
        height: 120.5px;  
    }
    .services .services-section-2 img {
        display: none;
    }
    
}

@media (max-width: 250px) {
    .services h1 {
        display: none;
    }
    .services .services-section-2{
        display: none;
    }
}