.info {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 240, 240);
    border-radius: 10px 10px 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.info button {
    border-style: none;
    width: 100%;
    &:hover {
        cursor: pointer;
    }
}
