@use "../../../assets/scss/" as *;

.btn-component {
    color: $white;
    border-style: none;
    padding: 10px;
    border-radius: $border-radius;
    width: 40%;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    margin-top: 40px;
    cursor: pointer;
}

.green-btn {
    background-color: $second-color;
}

.black-btn {
    background-color: $black;
}

.blue-btn{
    background-color: $main-color;
}

// Media Screens

@media (max-width: 500px) {
    .btn-component{
        font-size: 14px;
        width: 100%;
    }
}

@media (max-width: 350px) {
    .btn-component{
        width: 100%;
    }
}