@use "../../assets/scss/" as *;

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 100px;
}
.header .header-content{
    color: $black;
    text-align: left;
    flex: 20%;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 800;
    font-size: 20px;
    line-height: 39px;
}
.header .header-content .title-2 {
    color: $main-color;
    padding: 15px 0px;
}
.header .header-content p {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: 500;
    font-size: 25px;
    line-height: 26px;
    padding: 20px 0px;
}
.header .header-bus {
    flex:60%;
    width: 60%;
    margin-top: 50px;
}

@media (max-width: 1320px) {
    .header .header-content {
        font-size: 14px;
    }
    .header .header-content .title-2 {
        font-size: 24px;
    }
}
  
@media (max-width: 955px) {
    .header {
        flex-direction: column;
        justify-content: center;
        padding: 120px 50px 0 50px;
    }
    .header .header-content {
      flex: 100%;
    }
    .header .header-bus {
        display: none;
    }
}